@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

@keyframes shine {
  0% {
      background-position: -200px;
  }
  100% {
      background-position: 450px;
  }
}

body{
  min-height: 100vh;
  background: #00b550;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-container{
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
}

.form-box{
  z-index: 1;
  background: #fff;
  border: 5px solid #000;
  box-shadow: 0 5px 25px rgb(0 0 0 / 15%);
  width: 350px;
  padding: 50px 40px;
  border-radius: 20px;
  overflow: hidden;
}

.form-box h2{
  font-size: 2em;
  margin-bottom: 40px;
  font-weight: 700;
}

.form-box .field{
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 2px solid #eee;
  margin-bottom: 25px;
}

.form-box .field.active{
  border-bottom: 2px solid #00b550;
  transition: 0.3s ease;
}

.form-box .field input{
  border: none;
  outline: none;
  background: none;
  width: 100%;
  font-size: 1em;
  padding-bottom: 5px;
}

.form-box .field i{
  color: #828da0;
  font-size: 1.3em;
  margin-right: 10px;
  padding-bottom: 5px;
}

.form-box .field.active i{
  color: #00b550;
  transition: 0.3s ease;
}

::placeholder{
  color: #828da0;
  font-size: 0.85em;
}

.eye-btn{
  cursor: pointer;
}

.eye-btn i:hover{
  color: #00b550;
  transition: 0.3s ease;
}

.forgot-link{
	align-items: center;
	text-align: left;
	margin-top: 40px;
	transform: translateY(-10px);
}

.forgot-link a{
  color: #00b550;
  font-size: 0.8em;
  text-decoration: none;
  font-weight: 500;
}

.btn {
	color: white;
    width: 160px;
    border-radius: 10px;
    border: 2px solid #000;
    box-shadow: 0 3px #000;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 20px;
    margin-top: 20px;
}

.btn:hover {
	box-shadow: none;
    transform: translateY(3px);
}

#sign-in-btn {
	background-color: #009d60;
}

#sign-in-btn:hover {
    background-color: #00824f;
}

#sign-up-btn {
	background-color: #f7ca15;
}

#sign-up-btn:hover {
	background-color: #e5b700;
}

.signup-error-message {
  display: none;
  font-size: 12px;
  color:#f1492b;
}

.signin-error-message {
  display: none;
  font-size: 12px;
  color:#f1492b;
}

.forgotpass-error-message {
  display: none;
  font-size: 12px;
  color:#f1492b;
  margin-left: 15px;
  margin-bottom: 20px;
}


.reset-pass-btn {
  background-color: #e5b700;
}

.reset-pass-btn:not(:disabled):hover {
  background-color: #d0a806;
}

.login-options{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.login-options .text{
  color: #828da0;
  font-size: 0.65em;
  margin: 25px 0;
}

.other-logins{
  display: flex;
}

.other-logins a{
  border: 1px solid #ccc;
  padding: 11px 32px;
  border-radius: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 5px;
  transition: border 0.3s ease;
}

.other-logins a:hover{
  border: 1px solid #0065ff;
}

.other-logins a img{
  width: 20px;
}

.imgBox img{
  max-width: 270px;
}

.sliding-link{
  display: flex;
  flex-direction: column;
  text-align: center;
  color: #fff;
  font-size: 0.9em;
  margin-bottom: 15px;
}

.sliding-link span{
  color: #000;
  background-color: #fff;
  font-weight: 400;
  text-align: left;
  cursor: pointer;
}

.imgBox{
  z-index: 888;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  box-shadow: 0 5px 25px rgb(0 0 0 / 15%);
  height: 400px;
  padding: 15px 35px;
}

.sign-in-imgBox{
  background: #00824f;
  border: 5px solid #000;
  border-left: 0px;
  border-radius: 0 15px 15px 0;
}

.sign-up-imgBox{
	background: #e5b700;
	border: 5px solid #000;
	border-right: 0px;
	border-radius: 15px 0px 0px 15px;
}

.sign-in-form.hide .sign-in-box{
  transform: translateX(100%);
  visibility: hidden;
}

.sign-in-form.hide .sign-in-imgBox{
  transform: translateX(-100%);
  visibility: hidden;
}

.sign-in-form.show .sign-in-box,
.sign-in-form.show .sign-in-imgBox{
  transform: translateX(0);
  visibility: visible;
  transition: 0.5s ease;
}

.sign-up-form .sign-up-imgBox{
  transform: translateX(100%);
  visibility: hidden;
}

.sign-up-form .sign-up-box{
  transform: translateX(-100%);
  visibility: hidden;
}

.sign-up-form.show .sign-up-imgBox,
.sign-up-form.show .sign-up-box{
  transform: translateX(0);
  visibility: visible;
  transition: 0.5s ease;
}

.submit-btn {
  cursor: pointer;
}

.modal {
  display: none; /* Hidden by default */
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8); /* Black overlay with opacity */
  overflow: auto;
}

.modal-body {
  position: relative;
  margin: 5% auto;
  padding: 20px;
  width: 80%;
  max-width: 40vw;
}

.modal-body.feedback {
  position: relative;
  padding: 20px;
  width: 80%;
  align-items: center;
  vertical-align: middle;
  max-width: 700px;
}

/* Modal content */

.modal-content {
  position: relative;
  padding: 20px;
  width: 100%;
  background: #fff;
  border: 5px solid #000;
  border-radius: 20px;
  border-bottom: 10px solid #000;
  align-items: center;
}

.modal-header {
  display: flex;
  align-items: center;
  justify-content: start;
  margin-bottom: 16px;
}

#send-email-btn {
  background: #00b550;
  display: flex; 
  margin: 0 auto;
}

#send-email-btn:hover {
  background: #00824f;
  display: flex; 
  margin: 0 auto;
}

.email-send-title {
  color: #fff;
  padding: 8px 20px;
  background: #00824f;
  border-radius: 10px;
  border: 5px solid #000;
  flex-grow: 1;
  text-align: center;
  align-items: center;

  /* Shiny effect without shadow */
  background-image: linear-gradient(90deg, rgba(255,255,255,0.1) 0%, rgba(255,255,255,0.5) 50%, rgba(255,255,255,0.1) 100%);
  background-size: 200px 100%;
  background-repeat: no-repeat;
  animation: shine 2s infinite;
  box-shadow: none;
}

.email-send-list {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.email-send-item h3 {
  padding: 8px 20px; 
  color: #fff;
  font-weight: 500;
  background: #00b550; /* yellow color */
  border-radius: 10px; 
  border: 5px solid #000;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-bottom: 12px;
}

.email-send-item iframe {
  width: 100%;
  height: 315px;
  border: 5px solid #000;
  border-radius: 20px;
  box-shadow: #000 0px 5px;
}

.email-send-item iframe:hover {
  box-shadow: none;
  transform: translateY(5px);
}

.field{
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 2px solid #eee;
  margin-bottom: 10px;
}

.field.active{
  border-bottom: 2px solid #00b550;
  transition: 0.3s ease;
}

.field input{
  border: none;
  outline: none;
  background: none;
  width: 100%;
  font-size: 1em;
  padding-bottom: 5px;
}

.field i{
  color: #828da0;
  font-size: 1.3em;
  margin-right: 10px;
  padding-bottom: 5px;
}

.field.active i{
  color: #00b550;
  transition: 0.3s ease;
}

::placeholder{
  color: #828da0;
  font-size: 0.85em;
}

@media screen and (max-width: 735px){
  .form-container{
    flex-direction: column;
    top: 0;
    overflow: hidden;
    padding: 60px;
    margin-top: 60px;
  }

  .form-box{
    box-shadow: none;
    padding: 30px;
	  margin-bottom: 20px;
  }

  .imgBox img{
    max-width: 45%;
    min-width: 180px;
  }

  .imgBox{
    box-shadow: none;
    width: 100%;
    height: auto;
    padding: 35px 35px 15px;
  }

  .sign-up-form{
    flex-direction: column-reverse;
  }

  .sign-in-imgBox{
	background: #00824f;
	border: 5px solid #000;
	border-radius: 15px;
  }
  
  .sign-up-imgBox{
	  background: #f7ca15;
	  border: 5px solid #000;
	  border-radius: 15px;
  }
}

@media screen and (max-width: 450px){
  .form-container{
    font-size: 0.9rem;
  }

  .form-box{
    width: 100%;
  }
}

@media screen and (max-width: 325px){
  .other-logins a{
    padding: 9px 25px;
    margin: 0 3px;
  }
}