@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');
*{
    box-sizing: border-box;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
    min-height: 100vh;
    background: #00b550;
}

.fade-out {
    animation: fadeOut 0.5s forwards; /* Fade out animation */
}

.fade-in {
    animation: fadeIn 0.5s forwards; /* Fade-in animation */
}

@keyframes fadeOut {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #00b550;
    color: white;
    text-align: center;
    padding: 10px 0;
    font-family: 'Poppins', sans-serif;
    font-size: 24px;
}

.footer p {
    margin: 10;
}


.ctr-accordion{
    max-width: 1400px;
    height: 720px;
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: space-around;
    gap: 20px;
    overflow: hidden;
    margin: 150px auto;
}

.feature-details {
    position: absolute;
    bottom: 20px;
    left: 20px;
}

.game-text {
    display: flex;
    align-items: flex-end; /* Aligns subtitle to bottom */
    color: white;
    font-family: 'Poppins';
}

.game-title {
    font-size: 120px;
    font-weight: bold;
    line-height: 1; /* Adjust the line height to make alignment tighter */
}

.game-subtitle {
    font-size: 24px;
    margin-left: 20px;
    position: relative;
    bottom: 10px; /* Adjust this value to align it precisely */
    white-space: nowrap;
}

.badge-text {
    color: white;
    font-family: 'Poppins';
}

/* Badge styles */
.badge {
    display: inline-block;
    padding: 5px 20px;
    font-size: 14px;
    font-weight: 600; /* Semi-bold */
    color: black;
    border-radius: 20px;
    border: #000 5px solid;
    margin-right: 10px;
}

.recommended {
    background-color: #ffd700; 
}

.learning {
    background-color: #ffd700; 
}

.videos {
    background-color: #00b550;
}
 
.tab{
    position: relative;
    width: 20vw;
    height: inherit;
    padding: 20px;
    background: rgb(0, 0, 0);
    cursor: pointer;
    transition: width .5s ease;
    border-radius: 30px;
    border: 10px solid #000;
}

.tab .feature-details {
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease, visibility 0s linear 0.3s; /* Shorten the transition duration */
}

.tab:hover .feature-details {
    opacity: 1;
    visibility: visible;
    transition-delay: 0s; /* No delay for hover */
    transition: opacity 0.3s ease; /* Faster fade-in */
}

.tab img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    transition: all 0.5s ease;
    border-radius: 25px;
    opacity: 0.5;
}
 
.tab:hover{
    width: 60vw;
}

.tab:hover img{
    opacity: 1;
}

.tab:nth-child(2) {
    width: 60vw; /* Default expanded tab */
}

.tab:nth-child(2) img{
    opacity: 1; /* Default expanded tab */
}

.tab:nth-child(1):hover ~ .tab:nth-child(2) {
    width: 20vw;
}

.tab:nth-child(1):hover ~ .tab:nth-child(2) img {
    opacity: 0.5;
}

.tab:nth-child(2) .feature-details {
    opacity: 1;
    visibility: visible;
    transition-delay: 0s;
    transition: opacity 0.3s ease;
}

.tab:nth-child(1):hover ~ .tab:nth-child(2) .feature-details {
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease, visibility 0s linear 0.3s;
}

