@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: #00b550;
}

/* Header section */

/* Header section */



/* carousel */

.carousel{
    width: 100vw;
    height: 100vh;
    margin-top: -50px;
    overflow: hidden;
    position: relative;
}

.carousel .list .item{
    width: 180px;
    height: 250px;
    position: absolute;
    top: 80%;
    transform: translateY(-70%);
    left: 70%;
    border-radius: 20px;
    border: 5px solid #000;
    box-shadow: 0 25px 50px rgba(0, 0, 0, 0.3);
    background-position: 50% 50%;
    background-size: cover;
    z-index: 1;
    transition: 1s;
}

.carousel .list .item:nth-child(1),
.carousel .list .item:nth-child(2){
    top: 0;
    left: 0;
    transform: translate(0, 0);
    border-radius: 0;
    width: 100%;
    height: 100%;
}

.carousel .list .item:nth-child(3){
    left: 67%;
}

.carousel .list .item:nth-child(4){
    left: calc(67% + 200px);
}

.carousel .list .item:nth-child(5){
    left: calc(67% + 400px);
}

.carousel .list .item:nth-child(6){
    left: calc(67% + 600px);
}

.carousel .list .item:nth-child(n+7){
    left: calc(67% + 800px);
    opacity: 0;
}


.list .item .content{
    position: absolute;
    top: 50%;
    left: 100px;
    transform: translateY(-50%);
    width: 400px;
    text-align: left;
    color: #fff;
    display: none;
}

.list .item:nth-child(2) .content{
    display: block;
}

.content .title{
    font-size: 80px;
    text-transform: uppercase;
    color: #fff;
    font-weight: bold;
    line-height: 1;

    opacity: 0;
    animation: animate 1s ease-in-out 0.3s 1 forwards;
}

.content .name{
    font-size: 40px;
    color: #f7ca15;
    text-transform: uppercase;
    font-weight: bold;
    line-height: 1;

    opacity: 0;
    animation: animate 1s ease-in-out 0.6s 1 forwards;
}

.content .des{
    margin-top: 10px;
    margin-bottom: 20px;
    font-size: 18px;

    opacity: 0;
    animation: animate 1s ease-in-out 0.9s 1 forwards;
}

.content .buttons{
    opacity: 0;
    animation: animate 1s ease-in-out 1.2s 1 forwards;
}

.content .buttons a{
    text-decoration: none;
}

.content .buttons .btn{
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
    color: white;
    border-radius: 10px;
    border: 2px solid #000;
    box-shadow: 0 3px #000;
    padding: 10px 20px;
    margin-top: 10px;
    transition: 0.3s;
}

.content .buttons .btn:hover {
    box-shadow: none;
    transform: translateY(3px);
}

.content .buttons .btn:nth-child(1){
    margin-right: 15px;
    background: #f7ca15;
}

.content .buttons .btn:nth-child(1):hover {
    background: #e5b700;
}

.content .buttons .btn:nth-child(2){
    background-color: #00824f;
}

.content .buttons .btn:nth-child(2):hover{
    background-color: #fff;
    color: #000;
}


@keyframes animate {
    
    from{
        opacity: 0;
        transform: translate(0, 100px);
        filter: blur(33px);
    }

    to{
        opacity: 1;
        transform: translate(0);
        filter: blur(0);
    }
}



/* Carousel */






/* next prev arrows */

.arrows{
    position: absolute;
    top: 80%;
    right: 69%;
    z-index: 100;
    width: 300px;
    max-width: 30%;
    display: flex;
    gap: 10px;
    align-items: center;
}

.arrows button{
    width: 50px;
    height: 50px;
    border: 2px solid #000;
    border-radius: 50%;
    background-color: #fff;
    color: #000;
    outline: none;
    font-size: 20px;
    font-family: monospace;
    font-weight: bold;
    transition: .5s;
    cursor: pointer;
}

.arrows button:hover{
    background: #ccc;
    color: #000;
}

.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #00824f;
    color: white;
    text-align: center;
    padding: 10px 0;
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
}

.footer p {
    margin: 10;
}

@keyframes shine {
    0% {
        background-position: -200px;
    }
    100% {
        background-position: 450px;
    }
}

/* Modal background overlay */
.modal {
    display: none; /* Hidden by default */
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8); /* Black overlay with opacity */
    overflow: auto;
}

.modal-body {
    position: relative;
    margin: 5% auto;
    padding: 20px;
    width: 80%;
    max-width: 700px;
}

.modal-body.feedback {
    position: relative;
    padding: 20px;
    width: 80%;
    align-items: center;
    vertical-align: middle;
    max-width: 700px;
}

/* Modal content */
.modal-content {
    position: relative;
    padding: 20px;
    width: 100%;
    background: #f7ca15;
    border: 5px solid #000;
    border-radius: 20px;
    border-bottom: 10px solid #000;
}

.modal-header {
    display: flex;
    align-items: center;
    justify-content: start;
    margin-bottom: 16px;
}

.video-title {
    color: #fff;
    padding: 8px 20px;
    background: #00824f;
    border-radius: 10px;
    border: 5px solid #000;
    flex-grow: 1;
    text-align: center;
    align-items: center;

    /* Shiny effect without shadow */
    background-image: linear-gradient(90deg, rgba(255,255,255,0.1) 0%, rgba(255,255,255,0.5) 50%, rgba(255,255,255,0.1) 100%);
    background-size: 200px 100%;
    background-repeat: no-repeat;
    animation: shine 2s infinite;
    box-shadow: none;
}

.close-btn {
    height: 100%; /* Matches the height of the title */
    width: 10%; /* Fixed width for the close button */
    font-size: 32px;
    background-color: #f1492b;
    padding: 16px;
    color: white;
    border-radius: 8px;
    border: 2px solid #000;
    box-shadow: 0 1.5px #000;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    padding: 0 8px; /* Adjust padding for width consistency */
    margin-left: 10px; /* Add spacing from the title */
}

.close-btn:hover {
    background-color:#d13c20;  
    box-shadow: none;
    transform: translateY(1.5px);
}


.video-list {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.video-item h3 {
    padding: 8px 20px; 
    color: #fff;
    font-weight: 500;
    background: #00b550; /* yellow color */
    border-radius: 10px; 
    border: 5px solid #000;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-bottom: 12px;
}

.video-item iframe {
    width: 100%;
    height: 315px;
    border: 5px solid #000;
    border-radius: 20px;
    box-shadow: #000 0px 5px;
}

.video-item iframe:hover {
    box-shadow: none;
    transform: translateY(5px);
}

/* Quiz Modal */
.quiz-title {
    color: #fff;
    padding: 8px 20px;
    background: #00824f;
    border-radius: 10px;
    border: 5px solid #000;
    flex-grow: 1;
    text-align: center;
    align-items: center;

    /* Shiny effect without shadow */
    background-image: linear-gradient(90deg, rgba(255,255,255,0.1) 0%, rgba(255,255,255,0.5) 50%, rgba(255,255,255,0.1) 100%);
    background-size: 200px 100%;
    background-repeat: no-repeat;
    animation: shine 2s infinite;
    box-shadow: none;
}

.close-quiz-btn {
    height: 100%; /* Matches the height of the title */
    width: 10%; /* Fixed width for the close button */
    font-size: 32px;
    background-color: #f1492b;
    padding: 16px;
    color: white;
    border-radius: 8px;
    border: 2px solid #000;
    box-shadow: 0 1.5px #000;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    padding: 0 8px; /* Adjust padding for width consistency */
    margin-left: 10px; /* Add spacing from the title */
}

.close-quiz-btn:hover {
    background-color:#d13c20;  
    box-shadow: none;
    transform: translateY(1.5px);
}

.modal-content p {
    font-size: 18px;
    font-weight: 500;
    color: #fff;
}

.quiz-question {
    padding: 8px 20px; 
    color: #fff;
    font-weight: 500;
    background: #00b550; 
    border-radius: 10px; 
    border: 5px solid #000;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-bottom: 12px;
}

.quiz-options {
    display: flex;
    flex-direction: row;
    width: 100%;    
    gap: 10px;
    margin-top: 20px;
}

.quiz-options button {
    padding: 10px;
    width: 100%;
    font-size: 16px;
    background-color: #fff;
    border: 3px solid #000;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s;
    box-shadow: #000 0px 3px;
}

.quiz-options button:hover {
    background-color: #ccc;
    box-shadow: none;
    transform: translateY(3px);
}

/* Feedback Modal */
.feedback-title {
    color: #fff;
    padding: 8px 20px;
    background: #00824f;
    border-radius: 10px;
    border: 5px solid #000;
    flex-grow: 1;
    text-align: center;
}

p#feedbackMessage {
    text-align: center;
    color: #000;
}

.modal-content.feedback {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #fff;
}

img#feedbackImage {
    width: 200px;
    height: 200px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.close-feedback-btn {
    display: inline-block;
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #00b550;
    color: white;
    font-size: 16px;
    border: 2px solid #000;
    border-radius: 8px;
    cursor: pointer;
    text-align: center;
    transition: background-color 0.3s;
}

.close-feedback-btn:hover {
    background-color: #00824f;
}

.level-card {
    position: relative;
    overflow: hidden;
    border-radius: 10px;
}

.lock-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6); /* Gray overlay */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 1.5em;
    border-radius: 0px;
    z-index: 1;
    text-align: center;
}

/* Responsive Design */

@media screen and (max-width: 999px){

    .list .item .content{
        left: 50px;
    }

    .content .title, .content .name{
        font-size: 70px;
    }

    .content .des{
        font-size: 16px;
    }

}

@media screen and (max-width: 768px){
    .modal-body {
        width: 90%;
    }
    
    .modal-body.feedback {
        width: 90%;
    }
    
    /* Modal content */
    .modal-content {
        position: relative;
        padding: 20px;
        width: 100%;
        background: #f7ca15;
        border: 5px solid #000;
        border-radius: 20px;
    }
    
    .modal-header {
        display: flex;
        align-items: center;
        justify-content: start;
        margin-bottom: 16px;
        margin-top: 10vh;
    }
    
    .video-title {
        font-size: 16px;
    }
    
    .close-btn {
        font-size: 28px;
        background-color: #f1492b;
        color: white;
        padding: 0 12px; /* Adjust padding for width consistency */
        margin-left: 10px; /* Add spacing from the title */
    }

    
    .video-item h3 {
        font-size: small;
    }
    
    .video-item iframe {
        height: 20%;
    }

    .quiz-title {
        font-size: 16px;
    }
    
    .close-quiz-btn {
        font-size: 28px;
        background-color: #f1492b;
        color: white;
        padding: 0 12px; /* Adjust padding for width consistency */
        margin-left: 10px; /* Add spacing from the title */
    }
    
    .modal-content p {
        font-size: 14px;
        font-weight: 500;
        color: #fff;
    }
    
    .quiz-options button {
        padding: 10px;
        font-size: 16px;
        background-color: #fff;
        border: 5px solid #000;
        border-radius: 10px;
        cursor: pointer;
        transition: background-color 0.3s;
    }

    .list .item .content{
        position: absolute;
        top: 60%;
        left: 5%;
        padding: 20px;
        transform: translateY(-50%);
        width: 80%;
        border: 6px solid #000;
        border-radius: 30px;
        text-align: left;
        color: #fff;
        align-items: left;
        background-color: #00824f;
        display: none;

        opacity: 0;
        animation: fade 1s ease-in-out 0.3s 1 forwards;
    }

    @keyframes fade {
    
        from{
            opacity: 0;
            filter: blur(33px);
        }
    
        to{
            opacity: 1;
            filter: blur(0);
        }
    }

    .content .title {
        font-size: 24px;
        margin-bottom: 10px;
    }

    .content .name {
        font-size: 20px;
    }

    .content .buttons .btn{
        display: flex;
        padding: 10px 15px;
        font-size: 14px;
        box-shadow: none;
    }

    .content .buttons .btn{
        width: 124px;
        justify-content: center;
        align-items: center;
        padding: 10px 15px;
        font-size: 14px;
    }

    .content .buttons .btn:nth-child(2){
        background-color: #00b550;
    }

    .arrows {
        top: 85%;
        left: 15%;
    }

    .arrows button {
        width: 40px;
        height: 40px;
        font-size: 16px;
    }
}